<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body
{     
    margin: 0;  
    padding: 0;
    box-sizing: border-box;                                                                                                
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background: #082032;
}
.todo{
    color: #fff;
    position: relative;
    background-color: #150050;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    text-align: center;
    top: 5ch;
    left: 40ch;
}
.b {
    position: relative;
    color: #fff;
    background: none;
    border-radius: 20px;
    border: solid 1px #fff ;
    height:5ch ;
    font-size: 20px;
    width: 15ch;
 background: none;
    transition: 0.5s;
    top: 2ch;
   
}
.todo input[type='text']{
    height:5ch ;
     width:30ch;
 
    color: #fff;
    background: none;
    border: solid 1px rgb(4, 243, 76);
    border-radius: 20px;
    text-align: center;
}
.todo textarea{
    height: auto;
    color: #fff;
    background: none;
    border: solid 1px #F43B86;
    border-radius: 20px;
    text-align: center;
}
.b:hover{
  
     background: #BF1363;
     border: none;

}
</style>
<div class="todo" id="todo">
<form action='/add' method="post">
    <h1>Cadastro De Postes</h1>
    <input type="text" name="titulo" placeholder="Titulu">
    <P>Conteudo</P>
    <textarea name="conteudo" ></textarea>
    <br><button id="b"  class="b"  type="submit">cadastrar postagem</button>
</form></div>