<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body
{     
    margin: 0;  
    padding: 0;
    box-sizing: border-box;                                                                                                
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background: #082032;
}
#t{
    
    background: #334443;
}
#o{
position: relative;
left: 5ch;
 width: 40ch;
}
.todo{
  
    position: relative;
    background-color: #150050;
    width: 500px;
   
    border-radius: 20px;
    text-align: center;
    top: 1ch;
    left: 40ch;
}
#b {
    position: relative;
    color: #fff;
    background: none;
    border-radius: 20px;
    border: solid 1px #fff ;
    font-size: 20px;  
 background: none;
    transition: 0.5s;
    
   
}
.todo input[type='text']{
    height:5ch ;
     width:30ch;
 
    color: #fff;
    background: none;
    border: solid 1px rgb(4, 243, 76);
    border-radius: 20px;
    text-align: center;
}
.todo textarea{
    height: auto;
    color: #fff;
    background: none;
    border: solid 1px #F43B86;
    border-radius: 20px;
    text-align: center;
}
#b:hover{
  
     background: #BF1363;
     border: none;
}
#cat{
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    left: 10ch;
    border-radius: 20px;
    background-color: #150050;
    
}
</style>



 <div class="todo" id="t">
    <h1>lista de poste</h1><a href="/"><button id="b" class="b">ATUALIZAR</button></a><br>
{{#each posta}}
<br><div class="card" id="cat" style="width: 18rem;"> 
  <div class="card-body">
    <h5 class="card-title">{{dataValues.titulo }}</h5>
    <p class="card-text">{{dataValues.conteudo }}</p>
    <a href="/deleta/{{dataValues.id}}" id="b" class="btn btn-primary">Deleta</a>
  </div><br>
</div><br>
{{/each}}
<br><a href="/formulario"><button id="b" class="b">Volta ao cadastro</button></a><br>    



<small> {{dataValues.createdAt}}
</small> 